//- BANNER
tr
  td
    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
      tr
        td(align="center")
          // wrapper table
          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
            tr
              td
                // content
                table(border="0" cellpadding="0" cellspacing="0" width="100%")
                  tr
                    //- Ad hoc padding
                    td(style="padding-top: 32px; padding-left: 12px; padding-right: 4px;")
                      //+bannerImage(housingUrl, 'http://aoa-omed.informz.net/aoa-omed/data/images/OMED%202017/cake-animated-3.gif', 598, 799, 'OMED Flash Sale - $100 Off', white)
                      +bannerImage(housingUrl, 'http://aoa-omed.informz.net/aoa-omed/data/images/OMED%202017/125-animation.gif', 598, 345, 'OMED Flash Sale - $125 Off', red)
                      //a(href="#{housingUrl}" target="_blank"): img(class="fluid-image" src="http://aoa-omed.informz.net/aoa-omed/data/images/OMED%202017/cake-animated-3.gif" width="600" height="312" border="0" alt="OMED Flash Sale - $100 Off" style="display: block; padding: 0; color: #{red}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")

