//- BANNER
tr
  td
    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
      tr
        td(align="center")
          // wrapper table
          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
            tr
              td
                // content
                table(border="0" cellpadding="0" cellspacing="0" width="100%")
                  tr
                    td
                      +bannerImage(omedUrl, 'http://omed.osteopathic.org/wp-content/uploads/2020/10/OMED2020_email-banner_1.jpg', 600, 200, 'OMED 2020: Envision a Path to Success', orange)
