// FOOTER
// container table
tr(id="tr5")
  td.mobile-hide
  td(align="center")
    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
      tr
        td(align="center")
          // wrapper table
          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
            tr
              td(class="padding" align="center" style="padding: 20px 0 40px 0;")
                // content table
                table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                  +footerLogo('https://amorassoc.informz.net/AmOrAssoc/data/images/2021/aoa-logo-white.png', 'https://osteopathic.org', 'AOA', '100', '49', white)
                  +footerLine('American Osteopathic Association', true, white)
                  +footerLine('142 E. Ontario St., Chicago, IL 60611', false, white)
                  +footerLine('Phone: (312) 202-8000', false, white)
                  tr
                    td(class="body-text" align="center" style="font-family: #{ffBook}; font-weight: normal; font-size: 14px; line-height: 22px; color: #{white};")
                      | #[span(class="appleFooter" style="color: #{white}; font-weight: normal;") Questions? Email #[a(href="mailto:memberservice@osteopathic.org" style="text-decoration: underline; color: #{white}; font-weight: normal;" target="_blank") memberservice@osteopathic.org]]

                  tr
                    td(align="center" style="padding: 21px 0px 0px 0px;")
                      table(border="0" cellpadding="0" cellspacing="0" width="150")
                        tr
                          td(align="left" style="padding: 0px 10px;")
                            +socialIcon('https://facebook.com/osteopathicphysicians', 'http://amorassoc.informz.net/AmOrAssoc/data/images/2022/icon57-facebook-no-border.png', 'Facebook', 27, 27, white)
                          td(align="center" style="padding: 0px 10px;")
                            +socialIcon('https://twitter.com/aoafordos', 'http://amorassoc.informz.net/AmOrAssoc/data/images/2022/icon57-twitter-no-border.png', 'Twitter', 27, 27, white)
                          td(align="right" style="padding: 0px 10px;")
                            +socialIcon('https://www.linkedin.com/groups/76192/', 'http://amorassoc.informz.net/AmOrAssoc/data/images/2022/icon57-linkedin-no-border.png', 'LinkedIn', 27, 27, white)
                          td(align="right" style="padding: 0px 10px;")
                            +socialIcon('https://www.youtube.com/user/americanosteopathic', 'http://amorassoc.informz.net/AmOrAssoc/data/images/2022/icon57-youtube-no-border.png', 'YouTube', 27, 27, white)
                          td(align="right" style="padding: 0px 10px;")
                            +socialIcon('https://www.instagram.com/aoafordos/', 'http://amorassoc.informz.net/AmOrAssoc/data/images/2022/icon57-insta-no-border.png', 'Instagram', 27, 27, white)


                  +unsubscribe('reverse')
  td.mobile-hide
