// FOOTER
// container table
tr
  td(align="center")
    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
      tr
        td(align="center")
          // wrapper table
          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
            tr
              td(class="padding" align="center" style="padding: 20px 0 20px 0;")
                // content table
                table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                  +footerLogo('https://omed.osteopathic.org/wp-content/uploads/2019/09/aoa-logo.png', 'https://osteopathic.org', 'AOA', '100', '49', textColor)
                  +footerLine('American Osteopathic Association', true, textColor)
                  +footerLine('142 E. Ontario St., Chicago, IL 60611', false, textColor)
                  +footerLine('Phone: (888) 62-MYAOA (888-626-9262)', false, textColor)
                  tr
                    td(class="body-text" align="center" style="font-family: #{ffBook}; font-weight: normal; font-size: 14px; line-height: 22px; color: #{textColor};")
                      | #[span(class="appleFooter" style="color: #{textColor}; font-weight: normal;") Questions? Email #[a(href="mailto:omed@osteopathic.org" style="text-decoration: underline; color: #{textColor}; font-weight: normal;" target="_blank") omed@osteopathic.org]]

                  tr
                    td(align="center" style="padding: 12px 0px 0px 0px;")
                      table(border="0" cellpadding="0" cellspacing="0" width="150")
                        tr
                          td(align="left" style="padding: 0px 10px;")
                            +socialIcon('http://facebook.com/osteopathicphysicians', 'https://omed.osteopathic.org/wp-content/uploads/2019/09/icon-facebook.png', 'Facebook', 32, 32, textColor)
                          td(align="center" style="padding: 0px 10px;")
                            +socialIcon('http://twitter.com/aoafordos', 'https://omed.osteopathic.org/wp-content/uploads/2019/09/icon-twitter.png', 'Twitter', 32, 32, textColor)
                          td(align="right" style="padding: 0px 10px;")
                            +socialIcon('https://www.linkedin.com/groups/76192/', 'https://omed.osteopathic.org/wp-content/uploads/2019/09/icon-linkedin.png', 'LinkedIn', 32, 32, textColor)
                          td(align="right" style="padding: 0px 10px;")
                            +socialIcon('https://www.instagram.com/aoafordos/', 'https://omed.osteopathic.org/wp-content/uploads/2019/09/icon-instagram.png', 'Instagram', 32, 32, textColor)


                  //-+unsubscribe('normal')
