include ./mixins

// HEADER
// container table
tr
  td(align="center" style="padding: 12px 0px 24px 0px;")
    table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
      tr
        td(align="center" style="padding: 0px 10px 0px 10px;")
          a(href="https://osteopathic.org" style="text-decoration: none;" target="_blank")
            img(src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/aoa-logo-tag-3a@2x-1.png" alt="AOA logo" style="font-family: Arial; color: #000066; font-size: 14px; line-height: 20px; font-weight: normal;" width="240" height="99")
            //-img(src="https://aoa-omed.informz.net/aoa-omed/data/images/OMED%202017/logo200-aoa.png" alt="AOA logo" style="font-family: Arial; color: #000066; font-size: 14px; line-height: 20px; font-weight: normal;" width="100" height="49")
