include ./mixins

// HEADER
// container table
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center")
      // content
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td(align="center" bgcolor="transparent" style="padding: 15px 0px 25px 0px;")
            a(href="#{omedUrl}" target="_blank"): img(class="fluid-image" border="0" src="images/omed-logo-red@2x.png" alt="OMED 2017: You belong. Here." width="220" height="67" style="display: block; padding: 0; color: #{white}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")

