include ./mixins

// HEADER
// container table
tr(id="tr2")
  td(align="left").mobile-hide
    table(border="0" cellpadding="0" cellspacing="0" width="48" style="table-layout: fixed;")
      tr
        td
  td(align="center" style="padding: 12px 0px 24px 0px;")
    table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
      tr
        td(align="center" style="padding: 0px 10px 0px 10px;")
          a(href="https://osteopathic.org" style="text-decoration: none;" target="_blank")
            img(src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/aoa-logo-tag-green.png" alt="AOA logo" style="font-family: Arial; color: #000066; font-size: 14px; line-height: 20px; font-weight: normal;" width="272" height="106")
