//- URLs
- var omedUrl = 'https://omed.osteopathic.org'
- var programUrl = 'https://mydigitalpublication.com/publication/?i=588509'
- var registrationUrl = 'https://registration.experientevent.com/showAOA191/'
- var housingUrl = 'https://omed.osteopathic.org/registration-housing/'


//- Colors
- var blue = '#3d5ba9'
- var navy = '#000066'
- var red = '#d53847'
- var purple = '#5c419a'
- var gold = '#fbb03b'
- var sand = '#fbfaf5'
- var white = '#ffffff'
- var grey = '#9e9e9e'
- var vermilion = '#d33f28'
- var lightBlue = '#f3f8fc'
- var lightPurple = '#aea0cd'
- var veryLightPurple = '#e2dded'
- var whiteTransparent = 'rgba(255,255,255,.5)'
- var whiteLessTransparent = 'rgba(255,255,255,.82)'
- var textColor = 'rgb(34,34,34)'
- var textGrey = '#666666'
- var textColorReverse = white
- var textShadow = '3px 2px 4px #453765'

//- Fonts
- var ffBook = "proxima-nova, Helvetica, Arial, sans-serif"
- var ffMedium = "proxima-nova, Helvetica, Arial, sans-serif"


//- Styles
- var grafStyle = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + textColor + ';'
- var grafStyleEmph = 'font-family: ' + ffMedium + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: center; color: ' + red + ';'
- var grafStyleEmphWhite = 'font-family: ' + ffMedium + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: center; color: ' + white + ';'
- var grafStyleEmphWhitePurple = 'font-family: ' + ffMedium + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: center; color: ' + veryLightPurple + ';'
- var grafStyleRed = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + red + ';'
- var grafStyleBlue = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + blue + ';'
- var grafStylePurple = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + purple + ';'
- var grafStyleWhite = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + white + ';'

- var disclaimerStyle = 'font-family: ' + ffBook + '; font-size: 13px; line-height: 20px; padding: 5px 0px 25px; font-style: italic; font-weight: normal; text-align: left; color: ' + textColor + ';'
- var disclaimerStyleReverse = 'font-family: ' + ffBook + '; font-size: 13px; line-height: 20px; padding: 5px 0px 25px; font-style: italic; font-weight: normal; text-align: left; color: ' + veryLightPurple + ';'

- var grafUrlStyle = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + red + ';'
- var grafUrlStyleWhite = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + white + ';'
