//- URLs
- var omedUrl = 'https://omed.osteopathic.org'
- var programUrl = 'http://mydigitalpublication.com/publication/?i=403769#{"issue_id":403769,"page":0}'
- var registrationUrl = 'https://registration.experientevent.com/ShowAOA171/FLOW/ATT'

//- Colors
- var blue = '#3d5ba9'
- var red = '#d53847'
- var sand = '#fbfaf5'
- var textColor = 'rgb(102,102,102)'

//- Fonts
- var ffBook = "'gotham-book', Helvetica, Arial, sans-serif"
- var ffMedium = "'gotham-medium', Helvetica, Arial, sans-serif"

//- Styles
- var grafStyle = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + textColor + ';'
- var grafStyleEmph = 'font-family: ' + ffMedium + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; text-align: center; color: ' + red + ';'
- var grafStyleRed = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + red + ';'
- var grafStyleBlue = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + blue + ';'
- var grafStylePurple = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + purple + ';'

- var disclaimerStyle = 'font-family: ' + ffBook + '; font-size: 13px; line-height: 20px; padding: 5px 0px 25px; font-style: italic; font-weight: normal; text-align: left; color: ' + textColor + ';'

- var grafUrlStyle = 'font-family: ' + ffBook + '; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: ' + red + ';'
